// Colors

$color-prim : #55c57a;
$color-prim-light : #7ed56f;
$color-prim-dark : #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-terceiro-light: #2998ff;
$color-terceiro-dark: #5643fa;

$color-grey-light-1: #f1f1f1;
$color-grey-light-2: #ebebeb;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #FFF;
$color-black: #000;

// Grid

$grid-width: 114rem;
$margem-vertical: 8rem;
$margem-horizontal: 6rem;