.row{
    max-width: $grid_width;
    margin: 0 auto;
    
    &:not(:last-child){
        margin-bottom: 10rem;
    }

    @include clearfix;
    

    [class^='col-']{ // Select all elements with class col-something
        float: left;

        &:not(:last-child){
            margin-right: $margem-horizontal;
        }
    }

    .col-1-of-2{
        width: calc((100% - #{$margem-horizontal})/2);
    }
    .col-1-of-3{
        width: calc((100% - 2*#{$margem-horizontal})/3);
    }
    .col-2-of-3{
        width: calc(2 * ((100% - 2*#{$margem-horizontal})/3) + #{$margem-horizontal});
    }

    .col-1-of-4{
        width: calc((100% - 3*#{$margem-horizontal})/4);
    }

    .col-2-of-4{
        width: calc((100% - 3*#{$margem-horizontal})/2 + #{$margem-horizontal});   
    }
    
    .col-3-of-4{
        width: calc(3 * ((100% - 3*#{$margem-horizontal}) /4) + 2 * #{$margem-horizontal});   
    }


} 
