
.btn{
    &,
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;

        // change defoult button element
        border: none;
        cursor: pointer;
    }

    &:hover{
        transform: translateY(-0.4rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
    
        &::after{
            transform: scaleX(1.2) scaleY(1.4);  
            opacity: 0;   
        }
    }
    
    &:focus,
    &:active{
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 1rem 1rem rgba($color-black, 0.3);
    }

    &::after{
        /* um elemento igual o btn so q atras deles */
        content: ""; /*uso obrigatorio*/
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &-white{
        background-color: $color-white;
        color: $color-grey-dark;
    
        &::after{
            background-color:$color-white;
        }
    }

    &-green{
        background-color: $color-prim;
        color: $color-white;
    
        &::after{
            background-color:$color-prim;
        }
    }

    &-animation{
        animation: moveUp 1.5s ease-out .5s;
        animation-fill-mode: backwards; /*button start inviseble*/
    }


}

.btn-text{
    &:link,
    &:visited{
        color: $color-prim;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-prim;
        padding: 3px;;
        font-size: 1.6rem;
        transition: all .2;
        font-weight: 400;
    }

    &:hover{
        background-image: linear-gradient(to right, $color-prim-light, $color-prim-dark);
        border-bottom: none;
        color: #eee;
        transform: translateY(-0.4rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
    }

    &:active{
        transform: translateY(0.1rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
    }

}